@import url(https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great);

#gamePlane>p.piece.active {
    background-color: rgb(224, 192, 192);
}

#gamePlane>p.piece.movable {
    color: rgb(128, 128, 192);
}

#gamePlane>p.piece.odd {
    background-color: rgb(224, 224, 224);
}

#gamePlane>p.piece.even {
    background-color: rgb(192, 192, 192);
}

#gamePlane>p.piece.onPosition,
#gamePlane>p.piece.odd.onPosition {
    background-color: rgb(192, 224, 192);
}

#gamePlane>p.piece.even.onPosition {
    background-color: rgb(164, 192, 164);
}

#gamePlane>p.empty {
    background-color: transparent !important;
    color: transparent !important;
}


body {
    background-color: black;
    margin: 0;
}

#gamePlane {
    background-color: white;
    margin: 0px auto;
    width: 100px;
}

    #gamePlane > p.piece {
        font-family: 'Fredericka the Great', cursive;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        box-sizing: border-box;
        border: 1px solid black;
        float: left;
        margin: 0px;
        width: 100px;
        height: 100px;
        cursor:pointer;
    }

    .infoPanel {
        display: flex;
        justify-content: center;
        font-family: 'Comfortaa', cursive;
        font-size: 1.5rem;
        background-color: lightslategrey;
        padding: 6px;
    }

    .infoPanel > * {
        margin: 5px;
    }

    .infoPanel select, .infoPanel button {
        background-color: lightslategrey;
        font-family: 'Comfortaa', cursive;
        font-size: 1em;
    }

    .infoPanel option:checked, .infoPanel option:hover {
        background-color: silver;
    }

   
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

